.nav-wrap {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: #fff;
  z-index: 999;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.nav-inner {
  list-style: none;
  padding: 20px;
}

.active, .active:hover {
  color: #333;
}
